*
{
	margin: 0px;
	padding: 0px;
	border: none;
}


:root {
    --light-orange: #fff5dd; 
    --dark-orange: #FDA51E; 
}

body
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	background-color: #fff;
}

#container
{
	float: left;
}

#header
{
	float: left;
	width: 100%;
	border-bottom: 1px solid #000000;
	margin-bottom: 10px;
}

#header h1
{
	font-size: 18px;
	float: left;
	background: url(/content/Images/yellowlogo.png) no-repeat;
	padding: 45px 0px 5px 0px;
}

#promotion
{
	height: 30px; 
	width: 10px; 
	/*background: url(/content/Images/promo-banner.png) no-repeat;*/
}

ul li a
{
	font-size: 16px;
    margin-left: 5px;
}

#main
{
	overflow: hidden;
	padding: 0 0 15px 10px;
	float: left;
}

ul
{
	list-style-type: square;
	margin-left: 25px;
	font-size: 14px;
}

ul#product-list
{
	list-style: none;
	margin-left: 0px;
}

ul#product-list li
{
	height: 130px;
	width: 100px;
	float: left;
	margin: 10px;
	text-align: center;
}

/*ul#product-list li a, ul#product-list li .button
{
	font-size: 13px;
	float: left;
}*/

/*Product text colour*/
ul#product-list li a span
{
	color: #19b2c0;
	/*text-decoration: none;*/
}

#cart
{
	float: right;
}

#update-message
{
	color: #ffcb00;
	font-weight: bold;
}

/*.button, input[type=submit]
{
	clear: both;
	display: inline-block;
	padding: 5px;
	margin-top: 10px; 
	border: 1px;
	background: #ffd800;
	color: #000000;
	font-weight: bold;
}

.button a
{
	color: #000000 !important;
}*/

#footer
{
	clear: both;
	padding: 10px;
	text-align: right;
	border-top: 1px solid #000000;
	/*border-bottom: 1px solid #000000;*/
	font-family: Constantia, Georgia, serif;
}

/******************** Top Navigation ************************/
ul#navlist
{
	float: right;
}

ul#navlist li
{
	display: inline;
}

ul#navlist li a
{
	/*border-left: 1px solid #8A8575;*/
	padding: 10px;
	margin-top: 10px;
	color: #000;
	text-decoration: none;
	float: left;
}

ul#navlist li:first-child a
{
	border: none;
}

ul#navlist li a:hover
{   
    /*-webkit-transition:.2s;*/  
    /*transition:.2s;*/
	color: #ffd800;
}


/********************* End top navigation ***************************/

p
{
	margin-bottom: 15px;
	margin-top: 0px;
}

h2
{
	color: #000000;
}

h2, h3
{
	margin-bottom: 10px;
	font-size: 26px;
	font-style: normal;
	font-weight: bold;
}

h3
{
	color: #000000;
}

#header h1 a, h3 em
{
	color: #000;
}
/*
a:link, a:visited
{
//	color: #000000;
//	text-decoration: none;
//	font-weight: bold;
}

a:hover
{
//	color: #ff006e;
	text-decoration: none;
//	font-weight: bold;
}

a:active
{
//	color: #006633;
//	text-decoration: none;
//	font-weight: bold;
}
*/

/***************************** sidebar navigation ****************************/

#categories
{
	font-family: Arial, Helvetica, sans-serif;
	list-style-type: none;
	border-right: #000000 1px solid;
	padding-right: 10px;
	margin: 0 25px 0 0;
	float: left;
}

#categories a:link, #categories a:visited
{
	color: #000; 
	text-decoration: none;
}

#categories a:hover
{
    /*-webkit-transition:.1s;*/      
	color: #ffd800;
}

div#product-details p
{
	margin-bottom: 5px;
	color: #000000;
	font-weight: bold;
}

p em
{
	color: #9b9993;
}

/* Form styles */
legend
{
	padding: 10px;
	font-weight: bold;
}

fieldset
{
	border: #9b9993 1px solid;
	padding: 0 10px;
	margin-bottom: 10px;
	clear: left;
}

div.editor-field
{
	margin-bottom: 10px;
}

input[type=text], input[type=password], select
{
	border: 1px solid #8A8575;
	width: 300px;
}

/* Styles for validation helpers */
.field-validation-error {
    color: #ff006e;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #ff006e;
    background-color: #ffeeee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #ff006e;
}

.validation-summary-valid {
    display: none;
}

/* Tables */

table
{    
    
    table-layout: fixed;

	border: 1px solid #000;
	border-collapse: collapse;
	color: #000000;
	min-width: 500px;
	width: 100%;
}

tr
{
	border: 1px solid #dddddd;
	line-height: 15px;
}

th
{
    
    font-weight: normal;
	background-color: #dddddd;
	color: #000000;
	font-size: 13px;
	text-align: left;
}

th, td
{
    border: #ccc 1px solid;
    padding: 10px;
    overflow: hidden;
	padding-left: 5px;
}

tr:hover
{
	background-color: #fff;
}


/*BootStrap Edit*/



/*This is the roundness of my buttons*/
.btn{
    border-radius: 0.25rem;
}

/*This is the hover colour of the text on my navbar*/
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  color: rgb(255, 216, 0);
}

/*This is the colour of my title in my navbar*/
.navbar-light .navbar-brand,
.navbar-light .navbar-toggler {
  color: rgba(0, 0, 0, 0.9);
}

/*This is the background colour of my navbar*/
.bg-faded {
    background-color: #f7f7f7;
}

/*This is the colour of my buttons*/
.btn-outline-primary {
  color: white;
  background-image: none;
  background-color: var(--dark-orange);
  border-color: var(--dark-orange);

  margin-bottom: 0px;
}

.details-container__buy .btn-outline-primary {
    width: 100%;
}

.btn-outline-primary:hover {
  color: white;
  background-color: #ffba4f;
  border-color: var(--dark-orange);
}

input[type=submit] {
 color: white;
  background-image: none;
  background-color: var(--dark-orange);
  border-color: var(--dark-orange);
}

input[type="text"] {
    color: #000000;
}

center{
    position:absolute;
    /*display:block;*/
    height:100px;
    width:300px;
    left:50%;
    top:50%;
    margin-top:-200px;
    margin-left:-200px;
    /*background-color:green;*/
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}















a {
    text-decoration: none;
}

a:hover {
    cursor: pointer;
    text-decoration: none;
}

a p {
    color: black;
}

/*a:visited { text-decoration: none; color:inherit; }*/
/*a:hover { text-decoration: none; color:blue; }*/
/*a:focus { text-decoration: none; color:yellow; }*/
/*a:hover, a:active { text-decoration: none; color:black }*/


.background-banner {
        background-image: url('Images/tilelayer.png');
    background-repeat: repeat-x;
    background-position: center;
    height: 200px;
    padding: 20px;    
    position: relative;
    z-index: 1;
    width: 100%;
}

.breadcrumb-container {
    display: inline-block;
    background-color: white;
    padding: 10px;
    border-radius: 2px;
}

.breadcrumb-text {
    display: inline-block;
    color: black;
    width: auto;
    background-color: white;
}

.title {
    font-size: 44px;   
    margin-top: 25px;
}

.arrow {
    margin: 0px 5px 0px 5px;
}

.background-banner__overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background-color: hsl(0,0%, 100%, 0.05);
    z-index: -1;
}

.breadcrumb-color {
    color: var(--dark-orange);
}

.main-banner {
    background-image: url('Images/tilelayer.png');
    background-repeat: repeat-x;
    background-position: center;
    height: 200px;
    z-index: -2;
    display: flex;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
    position: relative;
}

.main-title { 
    font-size: 54px;
}

.overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background-color: hsl(0,0%, 100%, 0.05);
    z-index: -1;
}



.what-is-container {
    padding: 20px 20px 0px 20px;   
}

.what-is-container1 {
    max-width: 1000px;
    margin: auto;
}

.what-is-container1 h2 {
    margin-bottom: 10px;
}

.what-is-container1 p {
    margin-bottom: 10px;
    line-height: 140%
}


.background-banner__container {
    max-width: 1000px;
    margin: auto;
}

.card__image-container {
    height: 250px;
    width: 313px;
    position: relative;
}

.cards-container {
    max-width: 1000px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
}

.card__text {
    position: absolute;
    height: 100px;
    text-align: center;
    background-color: var(--light-orange);
    width: 100%;
    padding: 10px;
    border-radius: 0px 0px 5px 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card1 {
    margin: 10px;
    height: 350px;
    position: relative;
    /*    border: 1px solid;*/
    /*    background-color: dimgrey;*/
    border-radius: 5px;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: 0.3s;
}

.card1:hover {
    cursor: pointer;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.3);
    transform: translateY(-2px);

}

.card__text__name {
    font-size: 18px;
}

.card__text__price {
    font-size: 20px;
    color: var(--dark-orange);
}


/* Product Page */
.product-page-card {
    padding: 20px;
    height: 100%;
}

.product-page-card__container {
    max-width: 1000px;
    margin: auto;
    height: 320px;
    display: flex;
    flex-direction: row;
    /*    background-color: darkblue;*/
}


.product-page-card__image-container {    
    width: 50%;
    margin-right: 0px;
    /*    background-color: darksalmon;*/
}

.product-page-card__image {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: contain;
    border: 1px solid gainsboro;
}


.product-page-card__details-container { 
    width: 50%;
    margin-left: 4%;
    /*    background-color: aquamarine;     */
    padding: 0px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 320px;
}

.details-container__buy {
    height: 60px;
    background-color: var(--light-orange);
    width: 100%;
    padding: 65px 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

button:hover {
    cursor: pointer;
}

.details-container__buy button {
    background-color: var(--dark-orange);
    padding: 10px;
    border: 0px;
    color: white;
}

.card__image {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: contain;
    border-radius: 5px 5px 0px 0px;
    border: 1px solid white;
}

.details-container__text h2 {
    margin-bottom: 10px;
}

.details-container__buy p {
    margin-bottom: 5px;
}

.details-container__buy__price {
    font-weight: 600;
    font-size: 20px;
}

.details-container__buy__stock {
    color: gray;
}

.details-container__text p {
    color: gray;
}

/* categories page */


.circle {
    /*    background-color: cadetblue;*/
    display: block;
    width: 14vw;
    height: 14vw;
    max-width: 100px;
    max-height: 100px;
    border-radius: 50%;
    border: 1px solid var(--dark-orange);

    display: flex;
    justify-content: center;
    align-items: center;
}

.circles-full-container__container {
    background-color: var(--light-orange);
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    padding: 10px;
}

.cont__text {
    margin-top:10px;
    font-size: 20px;
    text-align: center;
    height: 45px;
}

.circles-full-container {
    display: flex;
    justify-content: center;    
    max-width: 1000px;
    width: 100%;
    /*    background-color: antiquewhite;*/
    margin: auto;
}

.circle__image {
    width: 80%;
    object-fit: cover;
    object-position: 50% 50%;
    height: 80%;
    border-radius: 50%;
}


.left-align-h3 {
    max-width: 1000px;
    padding-left: 10px;
    margin: auto;
}

.center-on-page {
    margin:auto;
    max-width: 1000px;
    display: flex;
    justify-content:center;
    margin-top: 20px;
    padding: 20px;
}

.center-on-page-no-flex {
     margin:auto;
    max-width: 1000px;
    margin-top: 20px;
    padding: 20px;
}

.center-on-page-no-flex-wide {
     margin:auto;
    max-width: 1440px;
    margin-top: 20px;
    padding: 20px;
}

#body-content {
     margin:auto;
    max-width: 1000px;
    display: flex;
    justify-content:center;
    margin-top: 20px;
    padding: 20px;
}

@media only screen and (max-width: 1015px) {


    .cards-container {
        width: 670px;
    }
}


@media only screen and (max-width: 683px) {


    .background-banner {
        height: 200px;
        padding: 20px 10px;
    }

    .cards-container {
        width: 333px;
    }


    /*    product page */        
    .product-page-card {
        padding: 10px;
    }

    .product-page-card__container {
        max-width: 1000px;
        flex-direction: column;
    }

    .product-page-card__image-container {    
        width: 100%;
        height: 280px;
    }

    .product-page-card__details-container { 
        width: 100%;
        margin-left: 0px;
        padding-top: 10px;
        height: 100%;
    }

    .details-container__buy {
        margin-top: 10px;
        padding: 60px 10px;
        display: flex;
    }

/*    categories page */
    .circles-full-container__container {
        margin: 10px 0px;
    }

}
