@model CustomComputersGU.Models.ReturnAddressForPdf

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GeneratePDF</title>
</head>
<body> 
    <div>
        @Html.Raw(Model.PDFContent)
        <br/>
        <p> - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - </p>
    </div>
    
</body>
</html>
